.avatar {
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;
  border-radius: 0.2rem;
  border: 0.1rem solid #ccc;
  padding: 1rem;
  gap: 1rem;
  background-color: #edf2f4;
}

.image {
  border: 0.1rem solid #ccc;
  border-radius: 100%;
}